

#if( $user.hasErrors() )
    <div style="color:red">
        <h4>Errors:</h4>
        <ul>
            #foreach( $error in $user.Errors )
            <li>$error</li>
            #end
        </ul>
    </div>
#end

<table>
    <thead>
    <tr>
        <th>Property</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>FirstName</td>
        <td><input type="text" name="FirstName" value="$!user.FirstName"></td>
    </tr>
    <tr>
        <td>LastName</td>
        <td><input type="text" name="LastName" value="$!user.LastName"></td>
    </tr>
    <tr>
        <td>Email</td>
        <td><input type="text" name="Email" value="$!user.Email"></td>
    </tr>
    <tr>
        <td>Type</td>
        <td>
            <select name="type">
                <option value="Student">Student</option>
                <option value="Instructor">Instructor</option>
            </select>
        </td>
    </tr>
    </tbody>
</table>
<button>Save</button>
